.home {
    display: flex;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
}

.description {
    display : flex;
    justify-content: center;
    align-items : center;
    margin: auto;
}

#aa {
    margin: auto;
}

.title {
    font-size : 128px;
    font-weight : 600;
}

.detail {
    font-size : 24px;
    font-weight : 600;
    padding-left : 10px;
    margin-top: 50px;
}

.survey {
    overflow: auto;
    display: flex;
    justify-content: center; /* 가로 방향 가운데 정렬합니다. */
    align-items: center; /* 세로 방향 가운데 정렬합니다. */
    background-color: rgba(242, 240, 255, 0.36);
    width: 55vw;
}