.loading div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
}
  
.loading img {
width: 100px;
height: 100px;
}

.loading p {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    .loading p {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}